html, body {
  height: 100%; }

body {
  margin: 0;
  background-color: #202020;
  color: #f4f8ff;
  font-family: Consolas, 'Andale Mono', monospace; }

.full-height {
  height: 100%; }

.bordered {
  border: 1px solid #2e4272; }

.flex-container {
  display: flex; }
  .flex-container .center-screen {
    margin: auto; }

.flex-direction-column {
  flex-direction: column; }

.margin-auto {
  margin: auto; }

.close {
  font-size: 0.9em;
  float: right;
  -webkit-app-region: no-drag;
  cursor: pointer; }

.border-box {
  box-sizing: border-box; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }
