html, body {
  height: 100%; }

body {
  margin: 0;
  background-color: #202020;
  color: #f4f8ff;
  font-family: 'Open Sans Condensed', sans-serif; }

.full-height {
  height: 100%; }

.bordered {
  border: 1px solid #2e4272; }

.flex-container {
  display: flex; }
  .flex-container .center-screen {
    margin: auto; }

.flex-direction-column {
  flex-direction: column; }

.margin-auto {
  margin: auto; }

.close {
  font-size: 0.9em;
  float: right;
  -webkit-app-region: no-drag;
  cursor: pointer; }

.border-box {
  box-sizing: border-box; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

i.fa {
  font-size: 1.5em; }

.margin-top-sm {
  margin-top: 10px; }

.margin-top-md {
  margin-top: 25px; }

.margin-top-lg {
  margin-top: 50px; }

.pull-right {
  float: right; }
